/* @import url('https://fonts.googleapis.com/css?family=Megrim'); */

* {
  
}
body {
  font-family: "Megrim", 'Times New Roman', Times, serif;
  text-align: center;
  background-image: url("https://i.imgur.com/4wVAW9g.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
  font-weight: bolder;
  color: white;
}

.masthead h1 {
  font-size: 96px;
}

.container {
  font-size: 26px;
}






